p{color: rgb(26, 26, 124);
font-size: 20px;}
h1{color: rgb(107, 32, 32);
font-size: 67px;}
body{text-align: center;
background-color: rgb(146, 146, 209);
font-family: Arial, Helvetica, sans-serif;}
div{
    background-color: rgb(89, 180, 81);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
.info{
    color: blue
}
#varování{
    color: red;
}

