.panel{
    margin: 100px;
    width: 400px;
    height: 550px;
    background-color: aqua;
    display: grid;
    place-items: center;
    border-width: 10px;
    border-left-style: solid;
    border-right-style: groove;
    border-top-style: dashed;
    border-bottom-style: dashed;;
    border-color: rgb(255, 140, 0);
    margin-top: 10px;
    

}
.wierd{
     margin: 100px;
    width: 400px;
    height: 550px;
    background-color: rgb(255, 0, 64);
    display: grid;
    place-items: center;
    border-width: 10px;
    border-left-style: solid;
    border-right-style: groove;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: aqua;
    margin-top: 10px;
}
.card{
     margin: 100px;
    width: 400px;
    height: 550px;
    background-color: rgb(0, 255, 42);
    display: grid;
    place-items: center; 
    border-width: 10px;
    border-left-style: solid;
    border-right-style: groove;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: rgb(153, 189, 118);
    margin-top: 10px;
    border-radius: 15px;
}
.wrap{
     background-color: blueviolet;
  }